.App {
  font-family: arial, sans-serif;
  text-align: center;
}
img {
  align-items: center;
  width: 80%;
  margin-bottom: 3em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 14px;
}

.jokes {
  list-style: none;
  text-align: left;
  margin: 1em;
  padding: 2em;
  z-index: -2;
}

.jokes > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.16);
  padding: 1em;
}
.jokes > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 1em;
}
